* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body {
        background-color: lightgray;
        text-align: center;
        header,
        footer {
            background-color: gray;
        }
        ul {
            list-style-type: georgian;
        }
        li {
            display: flex;
            padding: 2px;
            > div {
                border: 1px solid black;
                padding: 5px;
                span {
                    color: white;
                    font-weight: bolder;
                    font-style: italic;
                }
            }
        }
        .brand {
            background-color: lightgreen;
        }
        .pilot {
            background-color: lightblue;
        }
        .car {
            background-color: lightpurple;
        }
        .pilot_detail {
            font-style: italic;
            color: white;
            background-color: lightgreen;
        }
    }
}
