* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* body {
  background-color: lightgray;
  text-align: center;
}

* body header,
* body footer {
  background-color: gray;
}

* body ul {
  list-style-type: georgian;
}

* body li {
  display: flex;
  padding: 2px;
}

* body li > div {
  border: 1px solid black;
  padding: 5px;
}

* body li > div span {
  color: white;
  font-weight: bolder;
  font-style: italic;
}

* body .brand {
  background-color: lightgreen;
}

* body .pilot {
  background-color: lightblue;
}

* body .car {
  background-color: lightpurple;
}

* body .pilot_detail {
  font-style: italic;
  color: white;
  background-color: lightgreen;
}

* body .add {
  position: fixed;
  background-color: purple;
  top: 5px;
  right: 20px;
}

* body .add a {
  font-size: 3rem;
  padding: 20px;
  text-decoration: none;
  color: white;
}

* body .add a:hover {
  color: yellow;
  font-style: italic;
}

* body .pilot_form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
}

* body .pilot_form .pilot_form-class {
  margin: 3px;
}

